
ECSLegacy/ECSLegacy.Test.Unit/obj/Debug/netcoreapp3.1/ECSLegacy.Test.Unit.assets.cache
ECSLegacy/ECSLegacy.Test.Unit/obj/Debug/netcoreapp3.1/ECSLegacy.Test.Unit.assets.cache
ECSLegacy/ECSLegacy.Test.Unit/obj/Debug/netcoreapp3.1/ECSLegacy.Test.Unit.csprojAssemblyReference.cache
ECSLegacy/ECSLegacy.Test.Unit/obj/ECSLegacy.Test.Unit.csproj.nuget.dgspec.json
ECSLegacy/ECSLegacy.Test.Unit/obj/ECSLegacy.Test.Unit.csproj.nuget.g.props
ECSLegacy/ECSLegacy.Test.Unit/obj/project.assets.json
ECSLegacy/ECSLegacy.Test.Unit/obj/project.nuget.cache
ECSLegacy/ECSLegacy/obj/Debug/netcoreapp3.1/ECSLegacy.assets.cache
ECSLegacy/ECSLegacy/obj/Debug/netcoreapp3.1/ECSLegacy.csprojAssemblyReference.cache
ECSLegacy/ECSLegacy/obj/ECSLegacy.csproj.nuget.dgspec.json
ECSLegacy/ECSLegacy/obj/ECSLegacy.csproj.nuget.g.props
ECSLegacy/ECSLegacy/obj/project.assets.json
ECSLegacy/ECSLegacy/obj/project.nuget.cache
